ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
//CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SEMICOLON_BEFORE_METHOD_BODY = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
COPY_PHASE_STRIP = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES

OTHER_LDFLAGS = -ObjC
SKIP_INSTALL = YES

OTHER_CFLAGS=$(inherited) -fstack-protector-strong
// xcconfig does not support line continuations. This is the most elegant way to keep a long list of flags.
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wall
OTHER_CFLAGS=$(OTHER_CFLAGS) -Werror
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wextra
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wassign-enum
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wblock-capture-autoreleasing
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wbool-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wcomma
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wconditional-uninitialized
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wconstant-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wdeprecated-declarations
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wdeprecated-implementations
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wdeprecated-objc-isa-usage
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wduplicate-method-match
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wdocumentation
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wempty-body
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wenum-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wfatal-errors
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wfloat-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wheader-hygiene
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wincompatible-pointer-types
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wint-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Winvalid-offsetof
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wnewline-eof
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wno-unknown-pragmas
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wnon-literal-null-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wnon-modular-include-in-framework-module
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wnon-virtual-dtor
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wobjc-literal-conversion
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wobjc-root-class
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wprotocol
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wshorten-64-to-32
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wstrict-prototypes
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wundeclared-selector
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wunreachable-code
OTHER_CFLAGS=$(OTHER_CFLAGS) -Wunused-parameter

// This is a conditional inclusion. It searches parent projects
// /xcconfig folder.
#include? "../../../xcconfig/adal__additional_settings.xcconfig"

