#include "identitycore__lib__common__ios.xcconfig"
#include "identitycore__idlib__common.xcconfig"

// Add armv7s and arm64e to standard ARCHs.
ARCHS = $(ARCHS_STANDARD) arm64e

// Activate full bitcode on release configuration for real devices.
OTHER_CFLAGS[config=Release][sdk=iphoneos*] = $(OTHER_CFLAGS) -fembed-bitcode
